div{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 300px ;


}
label {
    font-family: monospace;
    padding: 4px;
    font-size: large;
    font-weight: bold;
}

nav li{
    display: inline-block;
    margin-right: 20px;

}
header{
    background-color: #a7b9fc;
}

#cal{
    border: solid green;
    background-color: cadetblue;
    border-radius: 10px 5px ;
    color: white;
    font-size: large;
    padding: 4px;

}
#clear{
    border: solid green;
    background-color: cadetblue;
    border-radius: 10px 5px ;
    color: white;
    font-size: large;
    margin: 3px 30px;

}
#cal:hover,#clear:hover{
    color: white;
    background-color: greenyellow;
    border: none;
    transition: all 0.9s ease;


}
.input:hover{
    color: white;
    background-color: greenyellow;
    border: none;

    width: 50px;
    height: 30px;
}

.input{
    border: solid green;
    background-color: cadetblue;
    border-radius: 8px 3px ;
    color: white;
    font-size: large;
    margin: 3px 3px;
    transition: all 0.3s ease;

}
body{
    background-color: #88f5ca;
    color: #363636;
    padding: 10px 10px;
}


