/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: rgba(157, 178, 83, 0.65);
background-blend-mode: hard-light;
border-radius: 40px;


/* Vector */

position: absolute;
width: 710.53px;
height: 731.67px;
left: -97px;
top: 257.53px;

background: #ACB881;
opacity: 0.7;
border: 1px solid #000000;
filter: blur(80px);
transform: rotate(-40.83deg);


/* Group */

position: absolute;
left: 8.06%;
right: 87.59%;
top: 4.98%;
bottom: 90%;



/* Vector */

position: absolute;
left: 8.06%;
right: 87.59%;
top: 6.9%;
bottom: 90%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 8.43%;
right: 87.98%;
top: 5.86%;
bottom: 92.92%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 8.77%;
right: 88.31%;
top: 4.98%;
bottom: 94.02%;

background: #FFFFFF;


/* enjoy nature */

position: absolute;
width: 245px;
height: 92px;
left: 38px;
top: 102px;

font-family: 'Allison';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 144.5%;
/* or 92px */
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.093em;
text-transform: lowercase;

color: #FFFFFF;



/* input */

position: absolute;
width: 973px;
height: 1024px;
left: 467px;
top: 0px;

background: #FFFFFF;
border-radius: 300px 5px 150px;


/* Vector */

position: absolute;
width: 540.93px;
height: 600.17px;
left: 366px;
top: -1358px;

background: #5B721F;
mix-blend-mode: normal;
opacity: 0.26;
filter: blur(80px);


/* creat account */

position: absolute;
width: 618px;
height: 114px;
left: 217px;
top: 153px;

font-family: 'Allerta';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 95.5%;
/* or 61px */
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.128em;
text-transform: lowercase;

color: #2D1106;

opacity: 0.6;
border: 1px solid #AEC29A;


/* first name input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 15px 10px 10px;
gap: 10px;

position: absolute;
width: 270px;
height: 51px;
left: 238px;
top: 369px;

border: 1px solid #2E2E2E;
border-radius: 6px;


/* first Secondname input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 242px;
height: 51px;
left: 535px;
top: 369px;

border: 1px solid #2E2E2E;
border-radius: 6px;


/* email */

box-sizing: border-box;

position: absolute;
width: 539px;
height: 48px;
left: 238px;
top: 445px;

border: 1px solid #222222;
border-radius: 6px;


/* first name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 9px 8px;
gap: 10px;

position: absolute;
width: 101px;
height: 26px;
left: 246px;
top: 352px;

background: #FFFFFF;
mix-blend-mode: normal;


/* first name : */

width: 88.87px;
height: 12.73px;

background: #222222;
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 132px;
height: 26px;
left: 547px;
top: 352px;

background: #FFFFFF;


/* Second name : */

width: 113px;
height: 16px;

font-family: 'Andika New Basic';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 99.5%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.015em;
text-transform: lowercase;

color: #202020;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 67px;
height: 30px;
left: 254px;
top: 425px;

background: #FFFFFF;


/* email : */

width: 52px;
height: 16px;

font-family: 'Andika New Basic';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 100.5%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: lowercase;

color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* passwordinput */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 0px 10px 10px;
gap: 10px;

position: absolute;
width: 539px;
height: 48px;
left: 238px;
top: 521px;

border: 1px solid #343434;
border-radius: 6px;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 10px;
gap: 13px;

position: absolute;
width: 107px;
height: 26px;
left: 245px;
top: 503px;

background: #FFFFFF;


/* Password : */

width: 85px;
height: 16px;

font-family: 'Andika New Basic';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 100.5%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: lowercase;

color: #2B2B2B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* passwordinput */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 0px 0px 10px;
gap: 10px;

position: absolute;
width: 539px;
height: 48px;
left: 241px;
top: 598px;

border: 1px solid #343434;
border-radius: 6px;


/* google */

box-sizing: border-box;

position: absolute;
width: 255px;
height: 44px;
left: 238px;
top: 851px;

border: 1px solid #343434;
border-radius: 15px;


/* sing up with google */

position: absolute;
width: 138px;
height: 16px;
left: 61px;
top: 11px;

font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100.5%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: lowercase;

color: #000000;



/* facebook */

box-sizing: border-box;

position: absolute;
width: 255px;
height: 44px;
left: 522px;
top: 851px;

border: 1px solid #343434;
border-radius: 15px;


/* sing up with Facebook */

position: absolute;
width: 155px;
height: 16px;
left: 54px;
top: 12px;

font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100.5%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: lowercase;

color: #000000;



/* Social Media / Facebook */

position: absolute;
width: 46px;
height: 46px;
left: 8px;
top: 0px;



/* Logo Container */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Capa 2 */

position: absolute;
left: 36.47%;
right: 36.46%;
top: 25%;
bottom: 25%;



/* ELEMENTS */

position: absolute;
left: 36.47%;
right: 36.46%;
top: 25%;
bottom: 25%;



/* Vector */

position: absolute;
left: 36.47%;
right: 36.46%;
top: 25%;
bottom: 25%;

background: #337FFF;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 209px;
height: 26px;
left: 247px;
top: 578px;

background: #FFFFFF;


/* Password confirmation : */

width: 190px;
height: 16px;

font-family: 'Andika New Basic';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 100.5%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: lowercase;

color: #2B2B2B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Social Media / Gmail */

position: absolute;
width: 43px;
height: 41px;
left: 247px;
top: 852px;



/* Logo Container */

position: absolute;
left: -1.09%;
right: 1.09%;
top: 0%;
bottom: 0%;



/* Group 81 */

position: absolute;
left: 19.66%;
right: 22.11%;
top: 28.4%;
bottom: 27.92%;



/* Vector */

position: absolute;
left: 19.66%;
right: 67.11%;
top: 39.66%;
bottom: 27.92%;

background: #4285F4;


/* Vector */

position: absolute;
left: 64.66%;
right: 22.11%;
top: 39.66%;
bottom: 27.92%;

background: #34A853;


/* Vector */

position: absolute;
left: 64.66%;
right: 22.11%;
top: 28.4%;
bottom: 50.42%;

background: #FBBC04;


/* Vector */

position: absolute;
left: 32.89%;
right: 35.34%;
top: 32.38%;
bottom: 38.51%;

background: #EA4335;


/* Vector */

position: absolute;
left: 19.66%;
right: 67.11%;
top: 28.4%;
bottom: 50.42%;

background: #C5221F;


/* Frame 6 */

position: absolute;
width: 100px;
height: 100px;
left: 401px;
top: -25px;



/* Vector */

position: absolute;
width: 869.76px;
height: 441.55px;
left: -158px;
top: 907px;

background: #E4E4E3;
opacity: 0.7;
filter: blur(82px);
transform: rotate(-54.06deg);


/* hiking-survival-day-hike-alone_square (1)-min 1 */

position: absolute;
width: 605px;
height: 624px;
left: 643px;
top: 258px;

background: url(hiking-survival-day-hike-alone_square (1)-min.jpg);
box-shadow: -13px 44px 20px 4px rgba(0, 0, 0, 0.25);
border-radius: 70px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Text */

position: absolute;
height: 91px;
left: 91.16%;
right: 2.24%;
top: calc(50% - 91px/2 - 443.19px);

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: rotate(-0.38deg);


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 11px;

position: absolute;
width: 333px;
height: 56px;
left: 812px;
top: 699px;

background: rgba(132, 157, 76, 0.61);
border-radius: 20px 15px 10px 5px;


/* CReat account */

width: 185px;
height: 36px;

font-family: 'Asap Condensed';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 100.5%;
/* or 36px */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: lowercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
