
/* Set the font family for all elements within the .input-form class */
.input-form {
    font-family: Arial, Helvetica, sans-serif;

    /* Add a large top and bottom padding to the input form */
    padding: 300px 3px;

}

/* Style for the input field */
.input {
    /* Add a solid border with a light gray color */
    border: solid 1px #9e9e9e;
    /* Round the corners of the border */
    border-radius: 35px;
    /* Set the background color to transparent */
    background: none;
    /* Add some padding to the input field */
    padding: 17px;
    /* Set the font size to 13 pixels */
    font-size: 13px;
    /* Set the text color to black */
    color: #000000;
    /* Set the transition for the border change */
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

/* Style for the label that appears when the input is focused */
.textUser {
    /* Set the position of the label to be absolute */
    position: absolute;
    /* Set the position of the label to be 15 pixels from the left */
    left: 15px;
    /* Set the text color to a light gray */
    color: #666666;
    /* Make the label unclickable */
    pointer-events: none;
    /* Move the label up by 1 rem (16 pixels) */
    transform: translateY(1rem);
    /* Set the transition for the label movement */
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    padding: 2px 2px;
    color: cadetblue;
    font-size: large;
    font-family: "Comic Sans MS";
}

/* Style for the input when it is focused or valid */
.input:focus, input:valid {
    /* Remove the default outline */
    outline: none;
    /* Add a shadow to the input field */
    box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
    /* Add a background image with a gradient effect */
    background-image: linear-gradient(to top, rgba(182, 182, 182, 0.199), rgba(252, 252, 252, 0));
    /* Set the transition for the background image */
    transition: background 4s ease-in-out;
}

/* Style for the label when the input is focused or valid */
.input:focus ~ label, input:valid ~ label {
    /* Move the label up and scale it down */
    transform: translateY(-95%) scale(0.9);
    /* Add some padding to the label */
    padding: 0 .2em;
    /* Set the color of the label to a semi-transparent black */
    color: #000000be;
    /* Move the label to the right by 80 pixels */
    left: 80px;
}

/* Style for the input when it is hovered */
.input:hover {
    /* Add a thicker border with a dark gray color */
    border: solid 1.9px #000002;
    /* Slightly increase the size of the input */
    transform: scale(1.03);
    /* Add a shadow to the input */
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523);
    /* Set the transition for the border change */
    transition: border-color 1s ease-in-out;
}
